<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo's</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <div id="wrapper">
     <h1> My Todo's </h1>


<div id="inputBox">
     <%- include("add-data.ejs") %>

  </div>
  <span class="showSort">
    <a href="/?page=<%=(displayedTodos/todosPerPage)%>&&sorted=-1"> Sort newest </a>
    <a href="/?page=<%=(displayedTodos/todosPerPage)%>&&sorted=1"> Sort oldest  </a></span>
    <div id="todoContainer">

     <% for(let i=0; i<data.length; i++) { %>

     <p class="todoP"> 
       <span id="todoName"> <%= data[i].name %> </span>
      <span id="todoDate"><%= data[i].date.toString().split(" ").splice(0, 5) %> </span>
  
    


        <a href="/edit/<%= data[i]._id %>" > Edit </a> 
         
        <a href="/delete/<%= data[i]._id %>"  > Delete </a> 
 
       
         
    <% } %>
     </p>
</div>

       <% if(todoCalc > displayedTodos/todosPerPage) { %>
        <span class="showSort">
        <a href="/?page=<%=(displayedTodos/todosPerPage) +1%>"> Show more </a></span>
      <% } if(displayedTodos > 4) {   %>
        <span class="showSort">
        <a href="/?page=1"> Show less </a></span>

      <% } %>
    
    </div>
      
</body>
</html>